body{
    background-color: #222126;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-style: italic;
    font-weight: bold;
}

.wrapper-top{
    color: black;
    background-color: white;
    width: 575px;
    margin: auto;
    margin-top: 50px;
}

img{
    max-width: 575px;
}

.box1{
    padding-bottom: 10px;
}
.btext{
    padding: 25px;
}