body{
    background-color: #222126;
    color: white;
    font-family: 'Oswald', sans-serif;
}

nav img{
    width: 30px;
}

h2{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.wrapper-top{
    color: black;
    background-color: white;
    width: 575px;
    margin: auto;
    margin-top: 50px;
}

img{
    max-width: 575px;
}

.box1{
    padding-bottom: 10px;
}
.textpad{
    padding: 25px;
    width: 50%;
    margin: auto;
}

.textpad p{
    padding-top: 30px;
}

.wrapper-bottom img{
    width: 575px;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 50%;
}

footer{
    padding: 5px;
    background-color: white;
    color: #222126;
    text-align: center;
}